body {
  color: black;
  background-color: #ffef99;
}
h1 {
	color: red;
  border: solid black 5px;
  text-align: center;
}
h2 {

}
img {
  border: dotted orange 5px;
  position: relative;
  left: 100px;
}
